*{
	margin: 0;
	padding: 0;
	font-family: arial;
}

.banner{
	height: 110vh;
	width: 100%;
	background-image: url(cover.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}

.navigation{
	width: 85%;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navigation ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
}

.navigation ul li:hover:after{
	content: '';
	height: 3px;
	width: 100%;
	background: #212121;
	position: absolute;
	left: 0;
	bottom: -10px;
}

.navigation ul li::after{
	content: '';
	height: 3px;
	width: 0;
	background: #212121;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;
}

.navigation ul li a{
	text-decoration: none;
	color: black;
	text-transform: uppercase;
}

.content{
	width: 100%;
	position: relative;
	top: 45%;
	left: 22%;
	transform: translateY(-10%);
	text-align: center;
	color: black;
}

.content h1{
	font-size: 80px;
	margin-top: 80px;
}

.content p{
	margin: 20px auto;
	font-weight: 100;
	line-height: 25px;
}

button{
	width: 150px;
	padding: 0;
	text-align: center;
	margin: 10px 5px;
	border-radius: 15px;
	font-weight: bold;
	border: 2px solid #00000;
	background: transparent;
	color: black;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

input{
	width: 150px;
	height: 35px;
	border: none;
	color: black;
	background: none;
}

span{
	background: #212121;
	height: 100%;
	width: 0;
	border-radius: 15px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: 0.5s;
}

button:hover span{
	width: 100%;
}

button:hover{
	border: none;
}